n8n/Rappi Multiagent Data insights.json
{
  "name": "Rappi Multiagent Data insights",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Upload your data to test RAG",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload your file(s)",
              "fieldType": "file",
              "acceptFileTypes": ".pdf, .csv",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        240,
        -512
      ],
      "id": "f7a656ec-83fc-4ed2-a089-57a9def662b7",
      "name": "Upload your file here",
      "webhookId": "82848bc4-5ea2-4e5a-8bb6-3c09b94a8c5d"
    },
    {
      "parameters": {
        "model": "=text-embedding-3-small",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        -496
      ],
      "id": "6ea78663-cf2f-4f2d-8e68-43047c2afd87",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "LBujv8B8N81N1A72",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        768,
        -512
      ],
      "id": "94aecac0-03f9-4915-932b-d14a2576607b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        560,
        -672
      ],
      "id": "bf50a11f-ca6a-4e04-a6d2-42fee272b260",
      "name": "Insert Data to Store"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "Use this knowledge base to answer questions from the user",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        },
        "topK": 2
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        48,
        -256
      ],
      "id": "09c0db62-5413-440e-8c13-fb6bb66d9b6a",
      "name": "Query Data Tool"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hola equipo! 👋\nexploremos juntos cómo la IA puede ayudarnos a decidir mejor. ¿Qué preguntas de negocio quieren que responda primero?",
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -976,
        0
      ],
      "id": "9c30de61-935a-471f-ae88-ec5f67beeefc",
      "name": "When chat message received",
      "webhookId": "4091fa09-fb9a-4039-9411-7104d213f601"
    },
    {
      "parameters": {
        "content": "",
        "height": 444,
        "width": 984,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1040,
        -288
      ],
      "typeVersion": 1,
      "id": "28bc73a1-e64a-47bf-ac1c-ffe644894ea5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "contextWindowLength": 8
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        976,
        192
      ],
      "id": "ef49f6a0-a98e-4bf3-bf3c-a097d9bc3c81",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "zm7Qz7OKfsBc6hf7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://145.223.73.183:3000/sse",
        "serverTransport": "sse",
        "options": {
          "timeout": 600000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        1120,
        192
      ],
      "id": "53813fb4-489f-419a-a036-e636989514d4",
      "name": "MCP Client",
      "notesInFlow": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        48,
        176
      ],
      "id": "03d05f8f-bb92-4300-974d-8c738f083884",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LBujv8B8N81N1A72",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        800,
        176
      ],
      "id": "b4e592eb-ad12-436c-b298-d92df004f2c6",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "LBujv8B8N81N1A72",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 8
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        224,
        176
      ],
      "id": "f0e35a54-b213-4ff4-8679-48e2052849cd",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "zm7Qz7OKfsBc6hf7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "Clasifica el siguiente texto en una de dos categorías:\n\n1. \"reporte ejecutivo\": solo si el texto contiene una petición explícita de entregar, mostrar o generar el reporte ejecutivo. Ejemplos de frases que indican esto:\n   - \"dame el reporte ejecutivo\"\n   - \"quiero el reporte ejecutivo\"\n   - \"muéstrame el reporte ejecutivo\"\n   - \"necesito el reporte ejecutivo\"\n   - \"la persona te pide el reporte ejecutivo\"\n\n2. \"otro\": cualquier otro texto que no sea una petición directa o explícita del reporte ejecutivo.\n\nResponde solo con el nombre exacto de la categoría.",
        "categories": {
          "categories": [
            {
              "category": "reporte ejecutivo",
              "description": "solo si el texto contiene una petición explícita de entregar, mostrar o generar el reporte ejecutivo. Ejemplos de frases que indican esto:    - \"dame el reporte ejecutivo\"    - \"quiero el reporte ejecutivo\"    - \"muéstrame el reporte ejecutivo\"    - \"necesito el reporte ejecutivo\"    - \"la persona te pide el reporte ejecutivo\""
            },
            {
              "category": "otro",
              "description": "cualquier otro texto que no sea una petición directa o explícita del reporte ejecutivo."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -688,
        0
      ],
      "id": "0572d956-8848-47a9-a2cb-1955ad7f34c6",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jCohHksoN9nKcmVK",
          "mode": "list",
          "cachedResultUrl": "/workflow/jCohHksoN9nKcmVK",
          "cachedResultName": "Rappi Multiagent Report"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -288,
        -160
      ],
      "id": "2b33bfb0-6f89-4fb8-8d22-f284afc5a9a9",
      "name": "Call 'Rappi Multiagent Report'"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[ROL Y PROPÓSITO]\nEres el especialista en metadatos y contexto del sistema. Tu ÚNICA función es:\n1. Analizar la pregunta del usuario\n2. Buscar información relevante en el RAG (Query Data Tool)\n3. Enriquecer el contexto con metadatos de tablas y columnas\n4. Preparar un contexto estructurado para el siguiente agente\n⚠️ CRÍTICO: Procura usar  tu base de datos RAG para enriquecer la data\nIMPORTANTE: NO generes consultas SQL. Solo proporciona contexto enriquecido.\n\n[ENTRADA]\nPregunta del usuario: {{ $('When chat message received').item.json.chatInput }} usa to tool de RAG para obtener mas contexto\n\n[PROCESO - SIGUE ESTOS PASOS]\n\nPASO 1: ANALIZAR INTENCIÓN\nIdentifica en UNA oración:\n- ¿Qué quiere saber el usuario?\n- ¿Qué tipo de análisis solicita? (comparación, agregación, tendencia, listado)\n\nExtrae:\n- Métricas mencionadas: [lista]\n- Dimensiones/filtros: [lista]\n- Período temporal: [especificar o \"no mencionado\"]\n- Entidades clave: [país, ciudad, zona, etc.]\n\nPASO 2: BUSCAR EN RAG (Query Data Tool)\nPara cada término clave identificado, usa Query Data Tool para buscar:\n\nEjemplo de búsquedas a realizar:\n- Si menciona \"Perfect Order\" → busca: \"Perfect Order métrica columna\"\n- Si menciona \"zona wealthy\" → busca: \"zona wealthy filtro tipo\"\n- Si menciona \"última semana\" → busca: \"columnas fecha semana temporal\"\n- Si menciona \"por ciudad\" → busca: \"dimensión ciudad agrupación\"\n\nGenera frases de búsqueda específicas y descriptivas para maximizar recall del embedding.\n\nPASO 3: IDENTIFICAR TABLAS Y COLUMNAS\nBasado en los resultados del RAG, identifica:\n\n**Tablas relevantes:**\n- Nombre de tabla (minúsculas)\n- Qué contiene\n- Cuándo usarla\n\n**Columnas relevantes:**\n- Nombre exacto de columna\n- Tipo de dato\n- A qué tabla pertenece\n- Para qué se usa\n\n**Relaciones:**\n- ¿Cómo se relacionan las tablas identificadas?\n- ¿Qué campos son comunes?\n\nPASO 4: VALIDAR TERMINOLOGÍA\nMapea los términos del usuario a nombres reales:\n\nUsuario dice → Nombre real en BD\n\"perfect order\" → [busca columna exacta]\n\"zona premium\" → [busca valor en zone_type o zone_prioritization]\n\"última semana\" → [identifica columna l0w, l1w, etc.]\n\nPASO 5: CONSTRUIR CONTEXTO ENRIQUECIDO\nGenera un objeto estructurado con TODA esta información:\n\n{\n  \"user_intent\": {\n    \"summary\": \"El usuario quiere [resumen en 1 línea]\",\n    \"analysis_type\": \"comparación|agregación|tendencia|listado|otro\",\n    \"metrics_requested\": [\"métrica1\", \"métrica2\"],\n    \"dimensions\": [\"dimensión1\"],\n    \"time_frame\": \"período o null\",\n    \"filters\": {\"filtro_clave\": \"valor\"}\n  },\n  \n  \"relevant_tables\": [\n    {\n      \"name\": \"nombre_tabla\",\n      \"schema\": \"public\",\n      \"description\": \"Para qué sirve esta tabla\",\n      \"relevance_score\": \"alta|media|baja\",\n      \"reason\": \"Por qué es relevante\"\n    }\n  ],\n  \n  \"relevant_columns\": [\n    {\n      \"table\": \"nombre_tabla\",\n      \"column\": \"nombre_columna\",\n      \"type\": \"text|integer|double precision\",\n      \"description\": \"Qué contiene\",\n      \"usage\": \"Cómo usarla para esta pregunta\"\n    }\n  ],\n  \n  \"terminology_mapping\": {\n    \"user_term → db_term\": \"Explicación del mapeo\"\n  },\n  \n  \"suggested_approach\": {\n    \"tables_to_use\": [\"tabla1\", \"tabla2\"],\n    \"key_columns\": [\"col1\", \"col2\"],\n    \"filters_needed\": {\"columna\": \"valor\"},\n    \"aggregation_level\": \"país|ciudad|zona\",\n    \"time_columns\": [\"l0w\", \"l1w\"] // si aplica\n  },\n  \n  \"notes\": [\n    \"Nota importante 1\",\n    \"Ambigüedad detectada: [especificar]\",\n    \"Suposición: [explicar]\"\n  ]\n}\n\n[FORMATO DE SALIDA]\n\nTu respuesta DEBE ser SOLO texto estructurado que presente este contexto de forma clara:\n\n---\n**Análisis de la consulta:**\n[Resumen de intención en 2-3 líneas]\n\n**Tablas identificadas:**\n- tabla1: [descripción y relevancia]\n- tabla2: [descripción y relevancia]\n\n**Columnas clave:**\n- tabla.columna (tipo): [para qué se usa]\n- tabla.columna (tipo): [para qué se usa]\n\n**Mapeo de términos:**\n- \"[término usuario]\" → [término real en BD]\n- \"[término usuario]\" → [término real en BD]\n\n**Enfoque sugerido:**\n[Explicación breve de cómo abordar la consulta: qué tablas usar, cómo filtrar, qué agregar]\n\n**Consideraciones importantes:**\n- [Nota relevante 1]\n- [Ambigüedad si existe]\n- [Suposición si es necesaria]\n---\n\n[REGLAS CRÍTICAS]\n\n✅ HACER:\n- Usar Query Data Tool múltiples veces con diferentes frases de búsqueda\n- Ser específico con nombres de tablas y columnas (todo en minúsculas)\n- Mapear TODOS los términos del usuario a términos de BD\n- Señalar ambigüedades o falta de información\n- Proporcionar el contexto más completo posible\n\n❌ NUNCA HACER:\n- Generar consultas SQL (eso lo hace el siguiente agente con MCP)\n- Inventar nombres de tablas o columnas que no encontraste en el RAG\n- Asumir información sin buscarla en Query Data Tool\n- Dar respuestas finales al usuario (solo preparas contexto)\n- Omitir búsquedas en el RAG\n\n[EJEMPLO]\n\nUsuario pregunta: \"¿Cuál es el promedio de Perfect Order en zonas wealthy la última semana?\"\n\nTU PROCESO:\n1. Buscar en RAG: \"Perfect Order métrica\"\n2. Buscar en RAG: \"zona wealthy tipo\"\n3. Buscar en RAG: \"última semana columna temporal\"\n4. Identificar: raw_input_metrics.l0w_roll (última semana)\n5. Identificar: raw_input_metrics.zone_type = 'Wealthy'\n6. Identificar: raw_input_metrics.metric = 'Perfect Order'\n\nTU RESPUESTA:\n---\n**Análisis de la consulta:**\nEl usuario solicita el valor promedio de la métrica \"Perfect Order\" filtrado por zonas de tipo \"wealthy\" para el período más reciente (última semana).\n\n**Tablas identificadas:**\n- raw_input_metrics: Contiene métricas agregadas por zona con rolling windows semanales. Alta relevancia.\n\n**Columnas clave:**\n- raw_input_metrics.metric (text): Nombre de la métrica (usar = 'Perfect Order')\n- raw_input_metrics.zone_type (text): Tipo de zona (filtrar por 'Wealthy')\n- raw_input_metrics.l0w_roll (double precision): Valor rolling de la última semana (semana 0)\n- raw_input_metrics.country, city, zone (text): Dimensiones para agrupación si se necesita\n\n**Mapeo de términos:**\n- \"Perfect Order\" → metric = 'Perfect Order' en raw_input_metrics\n- \"zonas wealthy\" → zone_type = 'Wealthy' en raw_input_metrics\n- \"última semana\" → columna l0w_roll (l0w = last 0 weeks = semana actual)\n\n**Enfoque sugerido:**\nConsultar raw_input_metrics filtrando por metric='Perfect Order' y zone_type='Wealthy', calcular promedio de l0w_roll. Considerar agrupar por país o ciudad si se requiere desglose geográfico.\n\n**Consideraciones importantes:**\n- El término \"Wealthy\" debe escribirse con mayúscula inicial según convención de zone_type\n- l0w_roll ya es un valor rolling/agregado, no es dato crudo\n- Si no hay datos en l0w_roll, considerar usar l1w_roll (semana anterior)\n---\n\n[RECORDATORIO]\nTu trabajo termina aquí. El siguiente agente (con MCP) usará tu contexto enriquecido para generar las consultas SQL apropiadas y ejecutarlas. Enfócate en proporcionar el mejor contexto posible.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        112,
        -64
      ],
      "id": "579aed76-9644-42d1-ac13-7369059ff1c2",
      "name": "AI Agent RAG"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[IDENTIDAD Y PROPÓSITO]\nEres el asistente de análisis de datos que conversa con usuarios finales. Tu función es:\n1. Recibir la pregunta del usuario y el contexto enriquecido del RAG\n2. Seleccionar y llamar a la herramienta MCP apropiada\n3. Presentar los resultados del MCP en formato de CONVERSACIÓN NATURAL\n\n⚠️ CRÍTICO: SIEMPREe!!! debes usar una herramienta MCP. No respondas sin llamar al  MCP\n⚠️ CRÍTICO: Tu respuesta DEBE ser texto conversacional para un chat, NO JSON ni código.\n\n[ENTRADAS DISPONIBLES]\n- Pregunta del usuario: {{ $('When chat message received').item.json.chatInput }} ejecuta el MCP siempre al responderme\n- Contexto del RAG: {{ $json.output }}\n- Historial del chat: Disponible en tu memoria\n\n[HERRAMIENTAS MCP DISPONIBLES]\n1. **curador_de_metricas**: Análisis de métricas específicas (ej: \"dame el valor de Perfect Order\")\n2. **comparador**: Comparaciones entre grupos/períodos (ej: \"compara zonas wealthy vs non-wealthy\")\n3. **cronista_temporal**: Análisis temporales y tendencias (ej: \"tendencia últimas 4 semanas\")\n4. **orquestador_de_agregacion**: Agregaciones complejas (ej: \"promedio por ciudad y zona\")\n5. **trade_offs**: Análisis de decisiones (ej: \"qué zona priorizar\")\n\n[PROCESO PASO A PASO]\n\n**PASO 1: INTERPRETAR LA PREGUNTA**\nLee cuidadosamente:\n- La pregunta del usuario\n- El contexto enriquecido del RAG (tablas, columnas, términos mapeados)\n- El historial del chat para contexto adicional\n\nIdentifica:\n- Métrica(s) solicitada(s)\n- Filtros mencionados (país, ciudad, zona, tipo)\n- Período temporal (esta semana, últimas 4 semanas, etc.)\n- Tipo de análisis (valor único, comparación, tendencia, ranking)\n\n**PASO 2: SELECCIONAR LA HERRAMIENTA MCP CORRECTA**\nBasándote en tu análisis:\n- Una sola métrica sin comparación → **curador_de_metricas**\n- Comparar grupos o períodos → **comparador**\n- Ver evolución temporal → **cronista_temporal**\n- Múltiples agregaciones → **orquestador_de_agregacion**\n- Evaluar opciones/decisiones → **trade_offs**\n\n**PASO 3: PREPARAR Y LLAMAR AL MCP**\nConstruye el payload con TODA la información:\n```json\n{\n  \"question\": \"{{ $('When chat message received').item.json.chatInput }}\",\n  \"context\": {\n    \"rag_context_raw\": \"{{ $json.output }}\",\n    \"memory_context\": \"[Resume en 3-5 frases el historial relevante del chat si existe]\"\n  },\n  \"plan\": {\n    \"metrics\": [\"nombre_métrica_exacto\"],\n    \"dimensions\": [\"dimensión1\", \"dimensión2\"],\n    \"filters\": {\n      \"zone_type\": \"valor\",\n      \"city\": \"valor\"\n    },\n    \"time_range\": \"l0w_roll|l1w_roll|últimas_4_semanas|etc\",\n    \"notes\": \"Tu interpretación de qué necesita el usuario\"\n  }\n}\n```\n\n⚠️ IMPORTANTE: Siempre incluye el contexto del RAG completo en \"rag_context_raw\"\n⚠️ CRÍTICO: SIEMPREe!!! debes usar una herramienta MCP. No respondas sin llamar al  MCP\n\n**PASO 4: PROCESAR LA RESPUESTA DEL MCP**\nEl MCP te devolverá un objeto con estos campos:\n- `summary`: Resumen breve del análisis\n- `analysis`: Análisis detallado\n- `sql_query`: Consulta SQL principal (puede ser null)\n- `sql_queries`: Array de consultas (si son múltiples)\n- `data_results`: Datos en formato JSON string\n- `all_sql_results`: Array de todos los resultados\n- `clarification_needed`: Pregunta para el usuario (si aplica)\n- `is_ambiguous`: Indica si la consulta es ambigua\n- `insufficient_data`: Indica si faltan datos\n\n**PASO 5: GENERAR TU RESPUESTA EN TEXTO CONVERSACIONAL**\n\n🚫 **PROHIBIDO ABSOLUTAMENTE:**\n- Devolver JSON en tu respuesta\n- Copiar directamente el objeto del MCP\n- Usar formato de código o estructuras de datos\n- Responder con formato técnico\n- olvidar colocar tu query\n✅ **OBLIGATORIO:**\n- Escribir en lenguaje natural conversacional\n- Usar emojis para hacer la respuesta más amigable\n- Estructurar con saltos de línea y secciones claras\n- Explicar los datos de forma comprensible\n\n**ESTRUCTURA DE TU RESPUESTA (en texto):**\n\n**[Caso 1: Respuesta exitosa con datos]**\n```\n[Respuesta directa en 1-2 líneas usando los datos del MCP]\n\n📊 **Datos principales:**\n- [Dato clave 1]: [valor]\n- [Dato clave 2]: [valor]\n- [Dato clave 3]: [valor]\n\n[Si hay más contexto, agrégalo en 1-2 líneas]\n\n[Mostrar SQLa qui, mostrarlo así:]\n🔍 **Consulta ejecutada:**\n[SQL en texto plano sin formato de código]\n```\n[Explicacion del SQL en texto plano sin formato de código]\n\n**Formulas y Analisis:**\n[Formulas y analisis para calcularlas aqui]\n\n**[Caso 2: Consulta ambigua]**\n```\n🤔 Necesito que me aclares algunos detalles para darte una respuesta precisa:\n\n[Escribe la pregunta de clarification_needed del MCP en lenguaje natural]\n\nPor ejemplo, podrías especificar:\n- [Opción 1]\n- [Opción 2]\n- [Opción 3]\n```\n\n**[Caso 3: Datos insuficientes]**\n```\n⚠️ No puedo responder completamente porque [explica qué falta según el MCP].\n\nLa información disponible es:\n- [Lo que sí hay]\n- [Lo que sí hay]\n\n¿Te gustaría que analice [alternativa posible]?\n```\n\n**[Caso 4: Múltiples consultas ejecutadas]**\n```\nHe realizado un análisis completo con [número] consultas:\n\n📊 **Hallazgos principales:**\n\n1️⃣ [Resultado de consulta 1]\n   • [Dato relevante]\n   • [Dato relevante]\n\n2️⃣ [Resultado de consulta 2]\n   • [Dato relevante]\n   • [Dato relevante]\n\n💡 **Conclusión:**\n[Síntesis integrando todos los hallazgos]\n```\n\n[EJEMPLOS CONCRETOS]\n⚠️ CRÍTICO: SIEMPREe!!! debes usar una herramienta MCP. No respondas sin llamar al  MCP\n\n**Ejemplo 1: Consulta simple**\nUsuario: \"¿Cuál es el promedio de Perfect Order esta semana?\"\nContexto RAG: [indica tabla raw_input_metrics, columna l0w_roll, etc.]\n\nTu proceso:\n1. Identificas: métrica \"Perfect Order\", período \"esta semana\" (l0w_roll)\n2. Seleccionas: curador_de_metricas\n3. Llamas al MCP con el payload completo\n4. MCP devuelve: data_results con promedio 85.3%\n\n✅ TU RESPUESTA CORRECTA:\n```\nEl promedio de Perfect Order esta semana es **85.3%** 📈\n\n📊 **Desglose:**\n- Total de zonas analizadas: 45\n- Rango: 72% - 94%\n- Mejor zona: Zona Norte con 94%\n\nEste valor se encuentra ligeramente por encima del promedio histórico (83%).\n```\nEl promedio de Perfect Order esta semana es **85.3%** 📈\n\n📊 **Datos principales:**  \n- Total de zonas analizadas: 45  \n- Rango: 72% - 94%  \n- Mejor zona: Zona Norte con 94%  \n\nEste valor está ligeramente por encima del promedio histórico de 83%, lo que indica un buen desempeño, pero hay zonas con potencial de mejora.\n\n🔍 **Consulta ejecutada:**  \n| **Parte**       | **SQL**                                                                 |\n|-----------------|-------------------------------------------------------------------------|\n| Selección       | SELECT AVG(l0w_roll) AS avg_perfect_order, COUNT(DISTINCT zone) AS total_zones |\n|                 | MIN(l0w_roll) AS min_value, MAX(l0w_roll) AS max_value                  |\n|                 | MAX(CASE WHEN l0w_roll = (SELECT MAX(l0w_roll) FROM raw_input_metrics WHERE metric = 'perfect_order') THEN zone END) AS top_zone |\n| Tabla           | FROM raw_input_metrics                                                  |\n| Filtro          | WHERE metric = 'perfect_order'                                          |\n\n**Explicación del SQL:**  \nLa consulta calcula el promedio de Perfect Order para la semana actual (columna l0w_roll) en la tabla raw_input_metrics. Filtra solo los registros donde la métrica es 'perfect_order', cuenta las zonas únicas para el total, obtiene los valores mínimo y máximo para el rango, y usa una subconsulta con CASE para identificar la zona con el mejor desempeño.\n\n**Fórmulas y Análisis:**  \n- Promedio de Perfect Order: AVG(l0w_roll) calcula la media de los valores de l0w_roll para metric='perfect_order'.  \n- Total de zonas: COUNT(DISTINCT zone) suma las zonas únicas para mostrar el volumen de datos.  \n- Rango: MIN(l0w_roll) y MAX(l0w_roll) determinan los valores extremos para entender la variabilidad.  \n- Mejor zona: Usa un CASE con una subconsulta (SELECT MAX(l0w_roll) FROM raw_input_metrics WHERE metric = 'perfect_order') para encontrar la zona con el valor más alto.  \nEl promedio de 85.3% se compara con un histórico de 83% (asumido del contexto RAG), sugiriendo un desempeño positivo.\n\n❌ RESPUESTA INCORRECTA (NO HAGAS ESTO):\n```\n{\"summary\": \"El promedio es 85.3%\", \"analysis\": \"...\", \"sql_query\": \"SELECT...\", ...}\n```\n\n**Ejemplo 2: Consulta ambigua**\nUsuario: \"Dame las 5 zonas top\"\nContexto RAG: [múltiples métricas posibles]\n\nTu proceso:\n1. Identificas ambigüedad: ¿top en qué métrica?\n2. Seleccionas: curador_de_metricas (para intentar)\n3. MCP devuelve: is_ambiguous=true, clarification_needed=\"¿Top en qué métrica?\"\n\n✅ TU RESPUESTA CORRECTA:\n```\n🤔 Para darte las zonas top, necesito saber en qué métrica quieres que las ordene:\n\n- **Perfect Order**: Zonas con mejor tasa de órdenes perfectas\n- **Lead Penetration**: Zonas con mejor penetración de leads\n- **Conversion**: Zonas con mejor tasa de conversión\n- **OTD (On Time Delivery)**: Zonas con mejor entrega a tiempo\n\n¿Cuál te interesa analizar?\n```\n\n**Ejemplo 3: Comparación**\nUsuario: \"Compara wealthy vs non-wealthy esta semana\"\nContexto RAG: [indica zone_type, l0w_roll]\n\nTu proceso:\n1. Identificas: comparación de grupos, período \"esta semana\"\n2. Seleccionas: comparador\n3. MCP devuelve múltiples datos comparativos\n\n✅ TU RESPUESTA CORRECTA:\n```\nAquí está la comparación entre zonas Wealthy y Non-Wealthy para esta semana:\n\n📊 **Zonas Wealthy:**\n- Perfect Order: 88.5%\n- Lead Penetration: 76.3%\n- Total zonas: 18\n\n📊 **Zonas Non-Wealthy:**\n- Perfect Order: 79.2%\n- Lead Penetration: 68.1%\n- Total zonas: 27\n\n💡 **Conclusión:**\nLas zonas Wealthy superan a las Non-Wealthy en +9.3 puntos porcentuales en Perfect Order y +8.2 puntos en Lead Penetration.\n```\nEste valor está ligeramente por encima del promedio histórico de 83%, lo que indica un buen desempeño, pero hay zonas con potencial de mejora.\n\n🔍 **Consulta ejecutada:**  \n| **Parte**       | **SQL**                                                                 |\n|-----------------|-------------------------------------------------------------------------|\n| Selección       | SELECT AVG(l0w_roll) AS avg_perfect_order, COUNT(DISTINCT zone) AS total_zones |\n|                 | MIN(l0w_roll) AS min_value, MAX(l0w_roll) AS max_value                  |\n|                 | MAX(CASE WHEN l0w_roll = (SELECT MAX(l0w_roll) FROM raw_input_metrics WHERE metric = 'perfect_order') THEN zone END) AS top_zone |\n| Tabla           | FROM raw_input_metrics                                                  |\n| Filtro          | WHERE metric = 'perfect_order'                                          |\n[REGLAS CRÍTICAS - MEMORIZA ESTO]\n\n🔴 **NUNCA:**\n- Devolver JSON o código como respuesta\n- Saltarte el paso de llamar al MCP\n- Inventar datos que no vienen del MCP\n- Ignorar el contexto del RAG al llamar al MCP\n- Responder sin datos cuando el MCP los proporciona\n\n🟢 **SIEMPRE:**\n- Llamar al MCP antes de responder\n- Incluir todo el contexto del RAG en tu llamada al MCP\n- Convertir la respuesta del MCP a texto conversacional\n- Usar emojis y formato legible\n- Ser conciso pero completo (máximo 200 palabras)\n- Verificar si hay data_results y presentarlos claramente\n\n[MANEJO DE ERRORES]\n\nSi el MCP falla o no responde:\n```\n⚠️ Tuve un problema al procesar tu consulta. [Explica el error en lenguaje simple]\n\n¿Podrías reformular tu pregunta o intentar con algo como:\n- [Sugerencia 1]\n- [Sugerencia 2]\n```\n\nSi no estás seguro de qué herramienta usar:\n```\nDéjame analizar esto con la herramienta más apropiada... [Luego elige una y procede]\n```\n\n[RECORDATORIO FINAL]\n\nTu audiencia son usuarios de negocio, NO programadores. Habla como un analista de datos amigable que explica resultados, NO como un sistema técnico que devuelve estructuras de datos.\n\n**TU RESPUESTA = TEXTO CONVERSACIONAL, NUNCA JSON**\n\nAhora procesa la consulta del usuario siguiendo estos pasos.\n```\n\n**Cambios críticos implementados:**\n\n1. **Énfasis repetido**: Múltiples recordatorios de NO devolver JSON\n2. **Ejemplos visuales**: Muestra EXACTAMENTE cómo debe verse el texto vs cómo NO debe verse\n3. **Emojis**: Hace las respuestas más amigables y legibles\n4. **Estructura clara**: Define formatos específicos para cada tipo de respuesta\n5. **Formato de chat**: Diseñado para verse bien en interfaz conversacional\n6. **Prohibiciones explícitas**: Sección completa de qué NO hacer\n7. **Lenguaje orientado a usuarios**: Recordatorio de que la audiencia son usuarios de negocio\n\nEste prompt debería generar respuestas como:\n```\nEl promedio de Perfect Order en zonas con zone_prioritization \"S\" esta semana es **82.5%** 📊\n\n📋 **Detalle por dimensión:**\n- Total de zonas analizadas: 12\n- Mejor zona: Zona Centro (89.2%)\n- Zona con oportunidad: Zona Sur (75.3%)\n\nEste resultado está 3 puntos por debajo del target de 85.5%.\n\nste valor está ligeramente por encima del promedio histórico de 83%, lo que indica un buen desempeño, pero hay zonas con potencial de mejora.\n\n🔍 **Consulta ejecutada:**  \n| **Parte**       | **SQL**                                                                 |\n|-----------------|-------------------------------------------------------------------------|\n| Selección       | SELECT AVG(l0w_roll) AS avg_perfect_order, COUNT(DISTINCT zone) AS total_zones |\n|                 | MIN(l0w_roll) AS min_value, MAX(l0w_roll) AS max_value                  |\n|                 | MAX(CASE WHEN l0w_roll = (SELECT MAX(l0w_roll) FROM raw_input_metrics WHERE metric = 'perfect_order') THEN zone END) AS top_zone |\n| Tabla           | FROM raw_input_metrics                                                  |\n| Filtro          | WHERE metric = 'perfect_order'                                          |\n\n**Explicación del SQL:**  \nLa consulta calcula el promedio de Perfect Order para la semana actual (columna l0w_roll) en la tabla raw_input_metrics. Filtra solo los registros donde la métrica es 'perfect_order', cuenta las zonas únicas para el total, obtiene los valores mínimo y máximo para el rango, y usa una subconsulta con CASE para identificar la zona con el mejor desempeño.\n\n**Fórmulas y Análisis:**  \n- Promedio de Perfect Order: AVG(l0w_roll) calcula la media de los valores de l0w_roll para metric='perfect_order'.  \n- Total de zonas: COUNT(DISTINCT zone) suma las zonas únicas para mostrar el volumen de datos.  \n- Rango: MIN(l0w_roll) y MAX(l0w_roll) determinan los valores extremos para entender la variabilidad.  \n- Mejor zona: Usa un CASE con una subconsulta (SELECT MAX(l0w_roll) FROM raw_input_metrics WHERE metric = 'perfect_order') para encontrar la zona con el valor más alto.  \nEl promedio de 85.3% se compara con un histórico de 83% (asumido del contexto RAG), sugiriendo un desempeño positivo.",
        "options": {
          "batching": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        896,
        -64
      ],
      "id": "b03f2e28-6e43-4f1b-81fb-7020eb2db619",
      "name": "AI Agent MCP"
    },
    {
      "parameters": {
        "content": "## Clasificador\n**Double **Título:** Rappi Multiagent Report or Rappi Multiagent Data insights   \n**Descripción:** Clasificador detecta si el usuario solicita un reporte.  \n- Si **sí**, redirige al flujo de reportes.  \n- Si **no**, continúa el flujo normal de preguntas.\n",
        "height": 192,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1056,
        -288
      ],
      "typeVersion": 1,
      "id": "83cc2ac3-b703-497f-9a82-22f6d7383991",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 444,
        "width": 968,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -752
      ],
      "typeVersion": 1,
      "id": "b03752ba-bd79-4af9-b4db-d5150215d58a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## RAG\n\n**Título:** RAG (Retrieval Augmentation Generation)  \n**Descripción:** Recibe archivos PDF o CSV y genera *embeddings* de la documentación que los usuarios suben al chat.  \nTambién procesa documentos que sirven de contexto para otros modelos.",
        "height": 192,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -768
      ],
      "typeVersion": 1,
      "id": "13a560ed-2205-46c4-96d8-52a083071e3e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "height": 652,
        "width": 1288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        -288
      ],
      "typeVersion": 1,
      "id": "574a598b-c6ca-4914-8b0e-4196cf79854d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## CORE\n**Título:** Agent RAG y Agent MCP  \n**Descripción:**  \n- **Agent RAG:** Amplía el contexto del usuario usando tres archivos con datos, valores y documentación subida al chat.  \n- **Agent MCP:** Recibe esa información, busca en el MCP Client y envía la solicitud al servidor.  \n  El MCP ejecuta, devuelve datos o solicita aclaraciones, luego entrega resultados en SQL para que el agente los procese, resuma y responda.",
        "height": 224,
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        -288
      ],
      "typeVersion": 1,
      "id": "04691b6d-cd29-46fe-988c-0deaea273844",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Historial de Chat\n**Título:** Postgres SQL  \n**Descripción:** El historial del chat se almacena en una tabla relacional dentro de PostgreSQL para mantener registro y contexto de las conversaciones.",
        "height": 224,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        448,
        80
      ],
      "typeVersion": 1,
      "id": "df15f849-a871-41be-acfb-eb2b6f096bf2",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "Upload your file here": {
      "main": [
        [
          {
            "node": "Insert Data to Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Insert Data to Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Query Data Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert Data to Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Query Data Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent RAG",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent MCP",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent MCP",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent RAG",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent MCP",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent RAG",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Call 'Rappi Multiagent Report'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent RAG": {
      "main": [
        [
          {
            "node": "AI Agent MCP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent MCP": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "37bd4e87-ba5a-44db-98a4-b773e34141ef",
  "meta": {
    "templateId": "rag-starter-template",
    "templateCredsSetupCompleted": true,
    "instanceId": "9b56ca8566a48b98a8c29a7fd307038ed555123439a937eb85d9c45166881e6e"
  },
  "id": "AwCo9mVWLE4PLJpb",
  "tags": [
    {
      "name": "RAG",
      "id": "fIrmlrOLSGrrxuH4",
      "createdAt": "2025-10-17T19:59:44.886Z",
      "updatedAt": "2025-10-17T19:59:44.886Z"
    },
    {
      "name": "LangGraph",
      "id": "iBA4PcMgZg7UpXTX",
      "createdAt": "2025-10-17T19:59:33.396Z",
      "updatedAt": "2025-10-17T19:59:33.396Z"
    },
    {
      "name": "Multi-agente",
      "id": "KiFZGhccQ9uwFUpZ",
      "createdAt": "2025-10-17T19:59:25.918Z",
      "updatedAt": "2025-10-17T19:59:25.918Z"
    },
    {
      "name": "MCP",
      "id": "51jZOfOyAmksTR7W",
      "createdAt": "2025-10-17T19:59:16.300Z",
      "updatedAt": "2025-10-17T19:59:16.300Z"
    }
  ]
}