n8n/Rappi Multiagent Report.json
{
  "name": "Rappi Multiagent Report",
  "nodes": [
    {
      "parameters": {
        "model": "=text-embedding-3-small",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -992,
        64
      ],
      "id": "8471dfbf-9f9c-44fe-8b58-2a4d56ec8d4b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "LBujv8B8N81N1A72",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -976,
        432
      ],
      "id": "75340660-6634-4f36-92e2-853f869f7136",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        -1024,
        256
      ],
      "id": "88f348e3-dacd-4906-8365-e0519938769b",
      "name": "Insert Data to Store"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "Use this knowledge base to answer questions from the user",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        -992,
        -144
      ],
      "id": "9c7c2230-4e2f-4e64-8a28-0ce120fe3bf6",
      "name": "Query Data Tool"
    },
    {
      "parameters": {
        "content": "",
        "height": 1484,
        "width": 2376,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1072,
        -640
      ],
      "typeVersion": 1,
      "id": "075fd717-0e32-485b-8334-a2d438038ad0",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "endpointUrl": "http://145.223.73.183:3000/sse",
        "serverTransport": "sse",
        "options": {
          "timeout": 600000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        -560,
        -272
      ],
      "id": "3835b4f6-f5ee-4eef-b3ee-593bc4c6ff85",
      "name": "MCP Client",
      "notesInFlow": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -560,
        -96
      ],
      "id": "25a4e66d-4cf3-40d1-b895-91e525344ff4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LBujv8B8N81N1A72",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        624,
        560
      ],
      "id": "d9ba1e4a-8096-4ff2-b426-a8d3ff182aa1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        -176
      ],
      "id": "84ab36c4-652d-4027-9bef-839497adadbf",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[PROMPT MCP - CURADOR DE MÉTRICAS]\n\nTu tarea es revisar la tabla raw_input_metrics y ofrecer un resumen claro del estado actual de las métricas operativas más importantes:\n- Perfect Orders\n- Lead Penetration\n- Gross Profit UE\n- Pro Adoption\n- Turbo Adoption\n\nInstrucciones:\n1. Resume los valores más recientes (L0W_VALUE) por país y tipo de zona.\n2. Si notas algún cambio llamativo respecto a la semana anterior (L1W_VALUE), descríbelo en pocas palabras.\n3. Menciona ejemplos de zonas con mejoras o deterioros notables.\n\nFormato sugerido:\n| País | Métrica | Promedio actual | Cambio vs semana previa | Comentario |\n\n⚠️ Regla adicional:\nSi el MCP te solicita aclaraciones, valores o ejemplos, debes contestar **solo con información disponible en Query Data Tool (QDT)**.  \nNo inventes valores ni asumas datos fuera de QDT.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -160,
        -576
      ],
      "id": "90acb5d9-dd3c-4482-b538-eb97a9010fc1",
      "name": "CURADOR DE MÉTRICAS"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[PROMPT MCP - COMPARADOR]\n\nAnaliza las métricas más importantes y compara los resultados entre grupos operativos:\n- ZONE_TYPE (Wealthy / Non-Wealthy)\n- ZONE_PRIORITIZATION (High Priority / Prioritized / Not Prioritized)\n\nInstrucciones:\n1. Calcula o resume los promedios de las métricas principales (Perfect Orders, Lead Penetration, Gross Profit UE).\n2. Menciona si algún grupo está mejor o peor que otro, y si existen brechas notorias (>10–15%).\n3. Agrega un comentario simple que ayude a interpretar las diferencias.\n\nFormato sugerido:\n| Grupo | Subgrupo | Métrica | Valor Promedio | Observación |\n\n⚠️ Si el MCP te pide ejemplos o detalles adicionales, usa **solo la información del Query Data Tool**.  \nNo supongas ni inventes datos.\n",
        "options": {
          "batching": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -144,
        -320
      ],
      "id": "8887df0c-bb6c-44c8-ad31-3bc760c388c3",
      "name": "COMPARADOR"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[PROMPT MCP - CRONISTA TEMPORAL SUAVE]\n\nAnaliza las tendencias de las métricas más relevantes en las últimas 8 semanas.\n\nInstrucciones:\n1. Observa la evolución temporal de:\n   - Perfect Orders\n   - Lead Penetration\n   - Gross Profit UE\n2. Indica si cada métrica está en tendencia ascendente, descendente o estable.\n3. Si existen zonas o países con patrones muy marcados, menciónalos.\n\nFormato:\n| Métrica | Tendencia | Zonas o Países destacados | Comentario breve |\n\n⚠️ Si el MCP te hace preguntas o solicita ejemplos, responde **únicamente con información proveniente del Query Data Tool (QDT)**.  \nEvita inferencias no respaldadas.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -144,
        -96
      ],
      "id": "fa51e209-6854-40d9-9059-826604c63b27",
      "name": "CRONISTA TEMPORAL"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[PROMPT MCP - ORQUESTADOR DE AGREGACIÓN SUAVE]\n\nConstruye un panorama general del desempeño global.\n\nInstrucciones:\n1. Agrupa la información por COUNTRY y ZONE_TYPE.\n2. Resume promedios generales de las métricas clave (Perfect Orders, Lead Penetration, Gross Profit UE).\n3. Identifica si hay países o grupos con resultados notablemente diferentes del promedio.\n\nFormato:\n| País | Tipo de Zona | Métrica | Promedio estimado | Comentario |\n\n⚠️ Si el MCP pregunta por definiciones, rangos o datos específicos, contesta **usando solo la información del Query Data Tool (QDT)**.  \nNo infieras nada fuera de lo que la QDT pueda devolver.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -144,
        192
      ],
      "id": "27714a47-b6a7-426b-aa37-14055ba7320b",
      "name": "ORQUESTADOR DE AGREGACIÓN"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[PROMPT MCP - TRADE_OFFS SUAVE]\n\nIdentifica oportunidades de mejora donde el impacto potencial sea alto.\n\nInstrucciones:\n1. Busca zonas con bajo rendimiento en métricas clave pero alto volumen de órdenes.\n2. Propón 3–5 zonas donde una mejora puntual podría generar impacto significativo.\n3. Añade una recomendación práctica para cada caso.\n\nFormato:\n| País | Zona | Métrica afectada | Motivo de oportunidad | Recomendación |\n\n⚠️ Si el MCP pide más detalles (ej. ejemplos o volúmenes), responde únicamente con datos disponibles desde el Query Data Tool.  \nNunca inventes ni extrapoles información.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -128,
        432
      ],
      "id": "f25e800b-409e-494a-8169-4a356e4c4267",
      "name": "TRADE_OFFS"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        736,
        80
      ],
      "id": "da5d0de6-ce6a-40b9-9669-311bf63bb876",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "LBujv8B8N81N1A72",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "jdparrago@unal.edu.co",
        "subject": "Resumen ejecutivo",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1088,
        -128
      ],
      "id": "88dee35c-baf9-48dd-8ade-6b5643be7593",
      "name": "Send a message",
      "webhookId": "d341371e-2107-4e07-89a2-c284a24ac70d",
      "credentials": {
        "gmailOAuth2": {
          "id": "ojQpYE3HD0WagtIf",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Rappi Multiagent Report\n**Título:** Multiagente  \n**Descripción:** Varios agentes especializados en el MCP reciben acceso a RAG y MCP.  \nCada agente genera su respuesta, se fusionan todas y el resultado final se entrega al agente encargado del informe, que luego envía el resultado por correo.",
        "height": 448,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        896,
        304
      ],
      "typeVersion": 1,
      "id": "8faf26f0-27fd-402f-b82c-1d1dcb41a8d7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[PROMPT MAESTRO — GENERADOR DE INFORME 2.2 SUAVE Y ANALÍTICO — VERSIÓN FINAL]\n\nContexto:\nYa dispones de las cinco salidas:\n1. curador_de_metricas → estado actual y variaciones de métricas clave → {{ $('CURADOR DE MÉTRICAS').item.json.output }}\n2. comparador → diferencias entre grupos (Wealthy / Non-Wealthy / Prioritization) → {{ $('COMPARADOR').item.json.output }}\n3. cronista_temporal → evolución de métricas en el tiempo → {{ $('CRONISTA TEMPORAL').item.json.output }}\n4. orquestador_de_agregacion → promedios y patrones generales → {{ $('ORQUESTADOR DE AGREGACIÓN').item.json.output }}\n5. trade_offs → zonas con potencial de mejora o impacto → {{ $('TRADE_OFFS').item.json.output }}\n\nObjetivo:\nGenera un reporte ejecutivo en formato Markdown, según el estándar **2.2 Sistema de Insights Automáticos (30%)**.  \nNo calcules nuevos valores. No señales ausencia de datos.  \nInterpreta y resume lo que haya disponible de forma clara, ejecutiva y coherente.  \nSi necesitas complementar o responder a algo, usa únicamente la información accesible desde el **Query Data Tool (QDT)**.\n\n---\n\n# 📊 INFORME EJECUTIVO — SISTEMA DE INSIGHTS AUTOMÁTICOS 2.2\n\n## Resumen Ejecutivo\nSintetiza los **3–5 hallazgos principales** con base en los datos entregados por las cinco herramientas.  \nPrioriza tendencias relevantes, zonas destacadas y métricas críticas.\n\nFormato:\n- *Zona México-A:* Reducción visible en Conversion y Lead Penetration.\n- *Zona Bogotá-B:* Mejora sostenida en Perfect Orders durante las últimas semanas.\n- *Brasil Sur:* Gap favorable en Gross Profit UE frente al promedio regional.\n\n---\n\n## Detalle por Categoría de Insight\n\n### Anomalías\nBasado en el curador_de_metricas.  \nMuestra zonas con comportamientos inusuales o cambios relevantes.\n\n| País | Ciudad | Zona | Métrica | Observación | Severidad | Fuente |\n|------|---------|------|----------|--------------|------------|--------|\n{{ $('CURADOR DE MÉTRICAS').item.json.output }}\n\n*Cobertura de datos interpretada de la muestra disponible.*\n\n---\n\n### Tendencias preocupantes\nUsa el cronista_temporal para reflejar métricas en deterioro o mejora consistente.\n\n| País | Zona | Métrica | Tendencia | Observación general | Severidad |\n|------|------|----------|-----------|---------------------|------------|\n{{ $('CRONISTA TEMPORAL').item.json.output }}\n\n*Resumen interpretativo sobre evolución reciente.*\n\n---\n\n### Benchmarking\nIntegra resultados del comparador y del orquestador_de_agregacion.  \nDestaca diferencias relevantes entre grupos, países o tipos de zonas.\n\n| Grupo | País | Zona | Métrica | Diferencia notable | Comentario |\n|--------|------|------|----------|--------------------|-------------|\n{{ $('COMPARADOR').item.json.output }}\n{{ $('ORQUESTADOR DE AGREGACIÓN').item.json.output }}\n\n*Comparación entre segmentos y patrones generales.*\n\n---\n\n### Correlaciones\nDescribe relaciones observables entre métricas sin necesidad de cálculos exactos.  \nEjemplo: “Zonas con bajo Lead Penetration tienden a mostrar menor Conversion.”\n\n| Métrica X | Métrica Y | Relación observada | Evidencia descriptiva |\n|------------|------------|--------------------|------------------------|\n(Interpretaciones basadas en coincidencias o patrones narrativos detectados.)\n\n*Análisis descriptivo sin inferencias estadísticas.*\n\n---\n\n### Oportunidades\nIntegra los hallazgos del trade_offs y el orquestador_de_agregacion.  \nResalta zonas con alto potencial o resultados destacados.\n\n| País | Zona | Métrica | Motivo de oportunidad | Recomendación breve |\n|------|------|----------|------------------------|---------------------|\n{{ $('TRADE_OFFS').item.json.output }}\n\n*Síntesis de focos de mejora y potencial de escalamiento.*\n\n---\n\n## Recomendaciones Accionables\nPropón entre 3 y 5 acciones operativas derivadas del análisis.  \nEjemplo:\n\n- Reforzar estrategias de Lead Penetration en zonas de alta prioridad con tendencia descendente.  \n  *Responsable:* SP&A Regional  \n  *Plazo:* 2 semanas  \n  *KPI:* +5% Conversion\n\n- Revisar condiciones logísticas en zonas con caídas de Perfect Orders.  \n  *Responsable:* Operaciones Local  \n  *Plazo:* 1 semana  \n  *KPI:* +8% cumplimiento\n\n- Replicar buenas prácticas de Gross Profit UE en zonas top de Brasil y México.  \n  *Responsable:* Country Manager  \n  *Plazo:* 3 semanas  \n  *KPI:* Mejora del margen bruto regional.\n\n---\n\n## Nota Final\n“Este informe se elaboró exclusivamente con la información consolidada desde las cinco herramientas analíticas internas (curador_de_metricas, comparador, cronista_temporal, orquestador_de_agregacion y trade_offs).  \nCualquier complemento o aclaración se generó con datos provenientes del Query Data Tool (QDT).  \nEl contenido cumple con la estructura y propósito del punto 2.2 Sistema de Insights Automáticos (30% del peso).”\n\n---\n\n📏 **Criterios internos (no mostrar en el informe):**\n- No mencionar ausencia de información.  \n- Ajustar narrativa según lo disponible.  \n- Usar tono profesional y sintético.  \n- Evitar repeticiones.  \n- Si una tabla está vacía, dejarla igual, interpretando el contexto de forma narrativa.  \n- No generar nuevos cálculos ni porcentajes.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        736,
        -128
      ],
      "id": "ed893885-34ca-47e7-8adc-5ca1d88a5b25",
      "name": "GENERADOR DE INFORME"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Insert Data to Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Query Data Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert Data to Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Query Data Tool": {
      "ai_tool": [
        [
          {
            "node": "CRONISTA TEMPORAL",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "COMPARADOR",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "CURADOR DE MÉTRICAS",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "ORQUESTADOR DE AGREGACIÓN",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "TRADE_OFFS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "COMPARADOR",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "CRONISTA TEMPORAL",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "CURADOR DE MÉTRICAS",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "ORQUESTADOR DE AGREGACIÓN",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "TRADE_OFFS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "CRONISTA TEMPORAL",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "COMPARADOR",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "CURADOR DE MÉTRICAS",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "ORQUESTADOR DE AGREGACIÓN",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "TRADE_OFFS",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "CRONISTA TEMPORAL",
            "type": "main",
            "index": 0
          },
          {
            "node": "COMPARADOR",
            "type": "main",
            "index": 0
          },
          {
            "node": "ORQUESTADOR DE AGREGACIÓN",
            "type": "main",
            "index": 0
          },
          {
            "node": "TRADE_OFFS",
            "type": "main",
            "index": 0
          },
          {
            "node": "CURADOR DE MÉTRICAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "GENERADOR DE INFORME",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CURADOR DE MÉTRICAS": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COMPARADOR": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "CRONISTA TEMPORAL": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "ORQUESTADOR DE AGREGACIÓN": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "TRADE_OFFS": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "GENERADOR DE INFORME",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GENERADOR DE INFORME": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "95f764ff-2236-4ce5-a5dc-4e2c40e58af8",
  "meta": {
    "templateId": "rag-starter-template",
    "templateCredsSetupCompleted": true,
    "instanceId": "9b56ca8566a48b98a8c29a7fd307038ed555123439a937eb85d9c45166881e6e"
  },
  "id": "jCohHksoN9nKcmVK",
  "tags": [
    {
      "createdAt": "2025-10-17T19:59:44.886Z",
      "updatedAt": "2025-10-17T19:59:44.886Z",
      "id": "fIrmlrOLSGrrxuH4",
      "name": "RAG"
    },
    {
      "createdAt": "2025-10-17T19:59:33.396Z",
      "updatedAt": "2025-10-17T19:59:33.396Z",
      "id": "iBA4PcMgZg7UpXTX",
      "name": "LangGraph"
    },
    {
      "createdAt": "2025-10-17T19:59:25.918Z",
      "updatedAt": "2025-10-17T19:59:25.918Z",
      "id": "KiFZGhccQ9uwFUpZ",
      "name": "Multi-agente"
    },
    {
      "createdAt": "2025-10-17T19:59:16.300Z",
      "updatedAt": "2025-10-17T19:59:16.300Z",
      "id": "51jZOfOyAmksTR7W",
      "name": "MCP"
    }
  ]
}